<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<h2>Home Page</h2>
<h2 th:text="${username}"></h2>
<h2 data-th-text="${username}"></h2>
<br>
<h4 onclick="showTime()" id="time"> Time </h4>
<script src="/static/js/action.js"></script>
</body>
</html>